body{
    background-color: aliceblue;
    padding: 0px;
    margin: 0px;
}
h1{
    transition: 1s ease-in;
}
h1:hover{
    text-shadow: 1px gray;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.501);
}
button{
    border: none;
    border-radius: 10%;
    padding: 10px ;
    margin: 20px;
    background-color: aquamarine;
    transition: 0.5s;
}
button:hover{
    border: none;
    border-radius: 10%;
    padding: 15px ;
    margin: 20px;
    background-color: cadetblue;
    color: whitesmoke;
}