body{
    background-color: beige;
    transition: 2s;
}
body:hover{
    background-color: papayawhip;
}
.container{
    background-color: beige;
    transition: 2s;
}
.container:hover{
    background-color: papayawhip;
}
button{
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 50px;
    padding: 10px;
    transition: 1s;
    margin: 30px;
}
button:hover{
    background-color: grey;
    padding: 25px;
    border-radius: 15px;
    margin: 20px;
    color: white;
    font-size: xx-large;
}
hr{
    padding: 5px;
    background-color: black;
}
hr:hover{
    transition: 2s;
    padding: 10px;
    background-color: black;
}