
.cuadrado{
    width: 100px;
    height: 100px;
    border: groove;
    background-image: url("https://i.imgur.com/ofRWUq2.jpeg");
}

.elementoso, .bonoto{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 20px;
}

.elemento{
    
    width: 800px;
    height: 600px;
    background-image: url("https://picsum.photos/800/600");
    border: groove 20px chocolate;
}
.boton{

    background-color: black;
    color: white;
    border: solid white ;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin: 50px ;
    
}

.boton:hover{
    background-color: white;
    color: black;
    border: solid;
}
.boton:active{
    background-color: black;
    color: chocolate;
    border: groove;
}

