
body{
    padding: 0px;
    margin: 0px;
    background-color: gray;
}
.hover{
    border: solid;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    background-color: bisque;
    text-align: center;
    

    transition: 1.5s;
}
.hover:hover{
    background-color: burlywood;
    border-radius: 50px;
    border: dotted;
}

.hover2{
    border: solid;
    background-color: brown;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    

    transition: 1s;
}
.hover2:hover{
    padding: 100px;
    background-color: crimson;
    border: dashed;
    border-radius: 50px  0px 50px 0px ;
}

.keyframe{
    border: groove 5px;
    background-color: green;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    text-align: center;

    animation: cambiarcolor 3s infinite;
    animation-timing-function: linear;

}

@keyframes cambiarcolor {
    from{background-color: green;}
    to{background-color: red;
        padding: 50px
      }
}