@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    height: 85vh;
    background:  linear-gradient(145deg, mediumslateblue 0%, lightgreen  100%) fixed;
    font-family: handjet;
}

h1{
    display: flex;
    margin: 0px auto;
    justify-content: center;
    transition: 2s;
}
h1:hover{
    font-size: 60px;
    color: white;
}
.contenedor{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
  .contenedor2{
    height: 500px;
    z-index: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: ease-in 1s;
    border-radius: 5px;
}
.contenedor2:hover{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px;
}

.numeros{
    height: 340px;
    width: 20vh;
    z-index: 2;
   
}
.operaciones{
    margin: 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -342px;
    left: 164px;
    height: 340px;
    width: 50px;
    z-index: 2;
}

.formus{
    display: flex;
    margin: 2px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    flex-direction: column;
    font-family: handjet;
    font-size: 4vh;
    width: 182px;
    max-height: 30px;
    max-width: 182px;
    min-width: 182px;  
    transition: 2s;
    background-color: slategray;
}
.formus:hover{
    background-color: darkslategray;
    color: white;
}

button{
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-family: handjet;
    font-size: 40px;
    margin: 2px;
    transition: 1s ease;
}
button:hover{
    border: dashed 1px;
}
button:active{
    transition: 50ms ease-in;
    border: dotted 1px;
    padding: 10px;
}
.igual{
    width: 100px;
    background-color: lightsalmon;
}
.igual:hover{
    background-color: brown;
}
.borrar{
    width: 212px;
    background-color: lightslategray;
}
.borrar:hover{
    background-color: slateblue;
}

.sumar{
    background-color: lightgreen;
}

.sumar:hover{
    background-color: green;
}

.restar{
    background-color: lightcoral;
}

.restar:hover{
    background-color: red;
}

.multiplicar{
    background-color: lightblue;
}

.multiplicar:hover{
    background-color: blue;
}

.dividir{
    background-color: lightgoldenrodyellow;
}

.dividir:hover{
    background-color: yellow;
}

.foot{
    transition: 2s ease;
}
.foot:hover{
   
    font-size: 30px;
    color: white;
}