body{
    background-color: beige;

}
button{
    padding: 5px 10px;
    background-color: green;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    margin: 0px 5vh ;
}
button:hover{
    padding: 10px 10px;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
}
.contene{
    display: flex;
    width: 100%;
    justify-content: center;
}

.titulo{
    display: flex;
    justify-content: center;
}